APP_NAME=Hệ thống quản lý bổ trợ học tập
APP_VERSION=1.2.0
APP_ENV=development

DB_SERVER=.\SQLEXPRESS
DB_NAME=student_support_db
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUSTED_CONNECTION=yes
DB_TRUST_SERVER_CERTIFICATE=yes

LOG_LEVEL=INFO
